h1 {
   color:#FF0000;
}

body {
  background-color:#D6DBDF;
}

.Richard
{
    margin:10px 10px;
    border:4px solid #FFFFFF;
    background-color:#FA8072;
    width:1000px;
    position:relative;
    bottom:;
}
.text
{
    width:550px;
    position:relative;
    bottom:200px;
    left:420px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.James 
{
    margin:10px 10px;
    border:4px solid #FFFFFF;
    background-color:#D6DBDF;
    width:1000px;
    position:relative;
    bottom:50px;
}

.text2 
{
    width:550px;
    position:relative;
    bottom:240px;
    left:420px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Glenn
{
    width:6px;
    margin:10px 10px;
    background-color:#FA8072;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:20px;
}

.text3 
{
    width:750px;
    position:relative;
    bottom:180px;
    left:410px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Jeff
{    
    margin:10px 10px;
    background-color:#D6DBDF;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:20px;
}

.text4 
{
    width:750px;
    position:relative;
    bottom:170px;
    left:450px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Kirk
{ 
    margin:10px 10px;
    background-color:#FA8072;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:px;
}

.text5 
{
    width:750px;
    position:relative;
    bottom:140px;
    left:450px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Tom
{
    margin:10px 10px;
    background-color:#FA8072;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:;
}

.text6 
{
    width:650px;
    position:relative;
    bottom:150px;
    left:420px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Oli
{
     margin:10px 10px;
    background-color:#FFC0CB;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:45px;
}

.text7 
{
    width:770px;
    position:relative;
    bottom:170px;
    left:420px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Orion
{
   height:200px;   
    margin:10px 10px;
    background-color:#FA8072;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:50px;
}

.text8 
{
    width:890px;
    position:relative;
    bottom:270px;
    left:410px;
    text-align:justify;
    word-spacing:8px;
    line-height:20px;
}

.David
{
 height:300px;   
  margin:10px 10px;
    background-color:#FFC0CB;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:140px;
}

.text9 
{
    width:850px;
    position:relative;
    bottom:460px;
    left:410px;
    text-align:justify;
    word-spacing:4px;
    line-height:20px;
}


.Steve
{
    margin:10px 10px;
    background-color:#FA8072;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:310px;
}

.text10 
{
    width:750px;
    position:relative;
    bottom:430px;
    left:410px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}

.Paul
{
     height:200px;   
    margin:10px 10px;
    background-color:#FFC0CB;
    border:4px solid #FFFFFF;
    width:1300px;
    position:relative;
    bottom:300px;
}

.text11 
{
    width:900px;
    position:relative;
    bottom:520px;
    left:410px;
    text-align:justify;
    word-spacing:10px;
    line-height:20px;
}