h2 {
   color:#FF00FF;
}
p {
   color:#00BFFF;
}

li {
   color:#66CDAA;
}

.B{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:40px;
    left:px;
}

.C{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:40px;
    left:px;
}
.D{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:80px;
    left:px;
}

.G{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:80px;
    left:px;
}

.H{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:80px;
    left:px;
}

.I{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:130px;
    left:px;
}
.J{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:180px;
    left:px;
}

.K{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:1150px;
    left:500px;
}

.M{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:1200px;
    left:500px;
}
.N{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:1260px;
    left:500px;
}

.O{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:1270px;
    left:500px;
}

.P{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:1300px;
    left:500px;
}

.R{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:2000px;
    left:780px;
}

.S{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:2000px;
    left:780px;
}

.T{
    width:;
    height:;
    position:relative;
    top:; 
    bottom:2000px;
    left:780px;
}