body {
  background-color:#E5E7E9;
}
.beatles
{
    width:1200px;
    position:relative;
    bottom:;
}

.beatles1
{
    width:1200px;
    position:relative;
    bottom:240px;
    left:600px;
}

.black
{
    width:1200px;
    position:relative;
    bottom:480px;
    left:900px;
}

.master
{
    width:1200px;
    position:relative;
    bottom:720px;
    left:300px;
}

.ride
{
    width:1200px;
    position:relative;
    bottom:700px;
    left:300px;
}

.sabbath
{
    width:1200px;
    position:relative;
    bottom:940px;
}

.iron
{
    width:1200px;
    position:relative;
    bottom:1180px;
    left:600px;
}

.led
{
    width:1200px;
    position:relative;
    bottom:1440px;
    left:900px;
}

.queen
{
    width:1200px;
    position:relative;
    bottom:1400px;
    left:900px;
}

.deep
{
    width:1200px;
    position:relative;
    bottom:1660px;
}

.doors
{
    width:1200px;
    position:relative;
    bottom:1890px;
    left:300px;
}

.pink
{
    width:1200px;
    position:relative;
    bottom:2100px;
    left:600px;
}