body {
  background-color:#5D6D7E;
}
.powerwolf {
    width:300px;
    height:200px;
    position:relative;
    top:20px; 
    bottom:;
    right:;
    left:;
}

.black {
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:185px;
    right:;
    left:770px;
}

.cannibal {
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.slipknot{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.mayhem{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.ozzy{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.metallica{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.cannibal2{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.cannibal3{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.kiss{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.metallica2{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.pink{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.rammstein{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.queen{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.iron{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.marilyn{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.depeche{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.apo{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}

.limp{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:;
    right:;
    left:;
}

.megadeth{
    width:300px;
    height:200px;
    position:relative;
    top:; 
    bottom:200px;
    right:;
    left:770px;
}